// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sidebar {
  width:160px;
  float:left;
 }
#content {
  margin-left:190px;
  width:600px;
  
}
#banner {
  margin-left:190px;
  width:600px;
  text-align:center;
 }
